.animate-link {
    position: relative;
}
.animate-link:after {
    content: '';
    width: 0px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--link-blue);
    transition: 300ms;
}
.animate-link:hover:after {
    width: 100%;
}
.animate-link:not(:hover):after {
    right: 0;
    left: auto;
}

.animate-link.white-text:after {
    background: #fff;
}


.bar {
    width: 1.5rem;
    height: 2px;
    background-color: var(--default-white);
    transition: 400ms;
    margin: 8px 0;
}
.menu-expanded .bar:nth-child(1) {
    transform: rotate(45deg) translateX(7px); 
    width: 2rem;
}
.menu-expanded .bar:nth-child(2) {
    display: none;
}
.menu-expanded .bar:nth-child(3) {
    transform: rotate(-45deg) translateX(7px);
    width: 2rem;
}
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
    }
}