@import url("typography.css");
@import url("animations.css");

/* colors for the page */
:root {
    --default-white: #FFFFFF;
    --dark-grey : #4C4A4F;
    --default-black : #212529;
    --link-blue : #0F549B;
    --light-blue : #629fdc;
    --utrgv-orange : #CB4900;
    --info-blue : #00216E;
    --light-grey : #ededed;
    --reporter: #848E2B;
    --bronze: #8C7459;
    --silver: #A7A9AC;
    --gold: #A39161;
    --platinum: #8E8C8A;
    --soft-shadow: 0px 2px 20px -10px rgba(0,0,0,0.5);
}


/* general page, to override default browser styles */
body {
    overflow-x: hidden;
    color: var(--text-black);
    background-color: var(--default-white);
    box-sizing: border-box;
}
button {
    all:unset;
}
a, a:visited, a:active { 
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
article {
    padding-block: 1.55rem;
}

/* spacing */
.full-w {
    width: 100%;
}
.flex {
    display: flex;
}
.flex-c {
    display: flex;
    flex-direction: column;
}
.center-vertical {
    /* when using this on flex-c this will align horizontally */
    align-items: center;
}
.center-horizontal {
    justify-content: center;
}
.self-center-vertical {
    align-self: center;
}
.space-evenly {
    justify-content: space-evenly;
}
/* colors */
.accent-section {
    background-color: var(--utrgv-orange);
    color: var(--default-white);
}

/* decor */
.button-link {
    text-transform: uppercase;
    border: 0.17rem solid var(--default-white);
    border-radius: 0.3rem;
    padding-inline: 0.3rem;
}
.banner {
    width: 100%;
    max-width: 1125px;
    margin-inline: auto;
}