@import url("typography.css");
@import url("animations.css");

/* colors for the page */
:root {
    --default-white: #FFFFFF;
    --dark-grey : #4C4A4F;
    --default-black : #212529;
    --link-blue : #0F549B;
    --light-blue : #629fdc;
    --accent-orange: #ff4d00;
    --utrgv-orange : #CB4900;
    --info-blue : #00216E;
    --light-grey : #ededed;
    --reporter: #848E2B;
    --bronze: #8C7459;
    --silver: #A7A9AC;
    --gold: #A39161;
    --platinum: #8E8C8A;
    --soft-shadow: 0px 2px 20px -10px rgba(0,0,0,0.5);
    --underline-width: 75%;
}


/* general page, to override default browser styles */
body, html {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
    color: var(--dark-grey);
    background-color: var(--default-white);
    box-sizing: border-box;
}
button {
    all:unset;
}
a, a:visited, a:active { 
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
section {
    padding-block: 1.55rem;
}
fieldset {
    all: unset;
}

/* spacing */
.full-w {
    width: 100%;
}
.width34 {
    width: 75%;
    margin: auto;
}
.flex {
    display: flex;
}
.flex-c {
    display: flex;
    flex-direction: column;
}
.center {
    text-align: center;
}
.center-vertical {
    /* when using this on flex-c this will align horizontally */
    align-items: center;
}
.center-horizontal {
    justify-content: center;
}
.self-center-vertical {
    align-self: center;
}
.space-evenly {
    justify-content: space-evenly;
}


/* colors */
.accent-section {
    background-color: var(--utrgv-orange);
    color: var(--default-white);
}
.blue-link {
    text-decoration: underline;
    color: var(--link-blue) !important;
}

/* decor */
.button-link {
    font-weight: bold;
    text-transform: uppercase;
    border: 0.17rem solid var(--default-white);
    border-radius: 0.3rem;
    padding: 0.34rem 0.6rem;
}
.button-link:hover {
    background-color: var(--default-white);
    color: var(--dark-grey);
}
.banner {
    width: 100%;
    max-width: 1125px;
    margin-inline: auto;
}
.disc {
    list-style: disc;
}
.underline {
    position: relative;
}
.underline::after {
    content: '';
    position: absolute;
    height: 0.5rem;
    width: var(--underline-width);
    background-color: var(--accent-orange);
    left: 0;
    bottom: -0.5rem;
}
.divisor {
    height: 3px;
    background-color: var(--light-grey);
}
.highlight {
    font-weight: 700;
    color: var(--default-white);
    background-color: var(--utrgv-orange);
    font-size: 1.5rem;
    padding: 0.3rem 0.6rem;
}
.upper {
    text-transform: uppercase;
}
.strong {
    font-weight: bold;
}
.hidden {
    position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

/* timeline */
fieldset {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
}
fieldset div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset legend {
    text-align: center;
    margin-block: 1rem;
}
input {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}
input:checked {
    border: 6px solid var(--utrgv-orange);
  }
input:hover, label:hover {
    cursor: pointer;
}
#progress-bar {
    background-color: #eee;
    height: 6px;
    width: 100%;
    border-radius: 6px;
    border: 0.5px #999 solid;
    box-shadow: 5px 2px 7px rgba(0,0,0,0.2);
    z-index: -1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 7%);
}
#progress {
    border-radius: 6px;
    height: 6px;
    width: 15%;
    background-color: var(--accent-orange);
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 2px 0px 3px rgba(0,0,0,0.1);
}
#circle-progress {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #ff4d00;
    border: 1px solid var(--accent-orange);
    border-radius: 50%;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    z-index: 999;
}
#timeline-container {
    margin-block-start: 3rem;
}
#timeline-info {
    background-color: var(--light-grey);
    height: auto;
    overflow: hidden;
}
#timeline-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

/* queries */
