@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Open+Sans:wght@400;600&family=Raleway:wght@800&display=swap');
.subtitle {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-size: 0.93rem;
    letter-spacing: 2px;
    margin: 0.5rem 0;
}
